*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: "Roboto";
}

body {
    background: linear-gradient(150deg,#d65d16,#d30303);
    height: 100vh;
}
h1 {
    text-align: center;
    color: aliceblue;
}